<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>
  <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
  <div id="modalContainer">
    <form id="job-form">
      <input type="hidden" id="deal-id" value="<%= dealId %>">
      <div class="form-section">
        <h3>Client details</h3>
        <div class="form-container">
          <input type="text" id="first-name" placeholder="First name" required>
          <input type="text" id="last-name" placeholder="Last name" required>
        </div>
        <input type="text" id="phone" placeholder="Phone" required>
        <input type="email" id="email" placeholder="Email (optional)">
      </div>

      <div class="form-section">
        <h3>Job details</h3>
        <div class="form-container">
          <select id="job-type" required>
            <option value="">Job type</option>
            <option value="Recall">Recall Job</option>
            <option value="Not">Definitely not a Recall Job</option>
          </select>
          <select id="job-source" required>
            <option value="">Job source</option>
            <option value="GL">GL Pinellas</option>
            <option value="HF">Other</option>
          </select>
        </div>
        <textarea id="job-description" placeholder="Job description (optional)"></textarea>
      </div>

      <div class="form-section">
        <h3>Service location</h3>
        <input type="text" id="address" placeholder="Address" required>
        <input type="text" id="city" placeholder="City" required>
        <input type="text" id="state" placeholder="State" required>
        <div class="form-container">
          <input type="text" id="zip-code" placeholder="Zip code" required>
          <select id="area">
            <option value="">Area</option>
            <option value="DT">Downtown</option>
            <option value="MT">Midtown</option>
            <option value="CT">Chinatown</option>
            <option value="HL">Harlem</option>
            <option value="OH">Other</option>
          </select>
        </div>
      </div>

      <div class="form-section">
        <h3>Scheduled</h3>
        <input type="date" id="start-date" required>
        <input type="time" id="start-time" required>
        <input type="time" id="end-time" required>
        <select id="tech-select" required>
          <option value="">Select technician</option>
          <option value="H1">Human 1</option>
          <option value="H2">Human 2</option>
          <option value="H3">Human 3</option>
          <option value="RB">Robot Bill</option>
        </select>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  <script src="/script.js"></script>
</body>
</html>
